@if (searchItem) {
  @if (searchItem.type === 'MOVIE') {
    <mat-card class="container" appearance="outlined">
      <img mat-card-image src="{{ imageBaseUrl + 'original/' + searchItem.item.backdrop_path }}" />
      <mat-card-header>
        <mat-card-subtitle class="mb-3">
        <span> {{ searchItem.item.vote_average }}
          <mat-icon class="align-sub">star_border</mat-icon> </span>
          <span class="float-end"> ({{ searchItem.item.vote_count }}) </span>
        </mat-card-subtitle>
        <mat-card-title>
        <span class="text-ellipsis-2">
          {{ searchItem.item.title }}
        </span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <mat-chip-set>
          @for (genre of searchItem.item.genre_ids; track $index) {
            <mat-chip>
              {{ genre }}
            </mat-chip>
          }
        </mat-chip-set>
      </mat-card-actions>
      <mat-card-actions class="mx-1">
        <button mat-icon-button (click)="addMovieItem(searchItem.item.id!)">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button class="ms-auto">
          <mat-icon>info</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  }
  @if (searchItem.type === 'SERIES') {
    <mat-card class="container" appearance="outlined">
      <img mat-card-image src="{{ imageBaseUrl + 'original/' + searchItem.item.backdrop_path }}" />
      <mat-card-header>
        <mat-card-subtitle class="mb-3">
        <span> {{ searchItem.item.vote_average }}
          <mat-icon class="align-sub">star_border</mat-icon> </span>
          <span class="float-end"> ({{ searchItem.item.vote_count }}) </span>
        </mat-card-subtitle>
        <mat-card-title>
        <span class="text-ellipsis-2">
          {{ searchItem.item.name }}
        </span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <mat-chip-set>
          @for (genre of searchItem.item.genre_ids; track $index) {
            <mat-chip>
              {{ genre }}
            </mat-chip>
          }
        </mat-chip-set>
      </mat-card-actions>
      <mat-card-actions class="mx-1">
        <button mat-icon-button (click)="addMovieItem(searchItem.item.id!)">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button class="ms-auto">
          <mat-icon>info</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  }
}
