<mat-toolbar>
  <button mat-icon-button [toggleDrawer]="drawer">
    <mat-icon>menu</mat-icon>
  </button>
  <span>LibraView</span>
</mat-toolbar>
<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'">
    <h5 [routerLink]="['/movie']">Movies</h5>
    <button mat-raised-button [routerLink]="['/movie/search']" [toggleDrawer]="drawer">Search</button>
  </mat-drawer>
  <mat-drawer-content class="libra-view-main-content">
    <router-outlet/>
  </mat-drawer-content>
</mat-drawer-container>